<div class="container mt-5">
    <h1>Employee List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Category</th>
                <th>Gender</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.employeeId }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.mailid }}</td>
                <td>{{ employee.role }}</td>
                <td>{{ employee.category }}</td>
                <td>{{ employee.gender }}</td>
                <td>
                    <button (click)="updateEmployee(employee.employeeId)" class="btn btn-info">Update</button>
                    <button (click) = "deleteEmployee(employee.employeeId)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                    <button (click) = "employeeDetails(employee.employeeId)" class = "btn btn-info" style="margin-left: 10px"> View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
