<div class="col-md-6 offset-md-3">
    <h3> Update Employee </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> First Name</label>
            <input type="text" class ="form-control" id = "Name"
                [(ngModel)] = "employee.name" name = "Name">
        </div>
    
        <div class="form-group">
            <label>email_Id</label>
            <input type="text" class ="form-control" id = "email_Id"
                [(ngModel)] = "employee.mailid" name = "email_Id">
        </div>
    
        <div class="form-group">
            <label> role</label>
            <input type="text" class ="form-control" id = "role"
                [(ngModel)] = "employee.role" name = "role">
        </div>
        <div class="form-group">
            <label> category</label>
            <input type="text" class ="form-control" id = "category"
                [(ngModel)] = "employee.category" name = "category">
        </div>
        <div class="form-group">
            <label> gender</label>
            <input type="text" class ="form-control" id = "gender"
                [(ngModel)] = "employee.gender" name = "gender">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 